<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<div class="container">
    <div class="text-center">
        <br>
        <h4>Edit User</h4>
    </div>
    <div class="card-body">
        <form action="#" method="post" role="form"
              th:action="@{/admin/update/{userId}(userId=${userDto.id})}" th:object="${userDto}">
            <div class="">
                <input class="form-control" th:field="*{id}"
                       type="hidden" id="id" name="id">
            </div>
            <div class="form-group mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input class="form-control" th:field="*{firstName}"
                       type="text" id="firstName" name="firstName" placeholder="Enter First Name">
                <p th:if="${#fields.hasErrors('firstName')}" class="text-danger"  th:errors="*{firstName}"></p>
            </div>
            <div class="form-group mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input class="form-control" th:field="*{lastName}" type="text" id="lastName" name="firstName"
                       placeholder="Enter Last Name">
                <p th:if="${#fields.hasErrors('lastName')}" class="text-danger"  th:errors="*{lastName}"></p>
            </div>
            <div class="form-group mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" th:field="*{username}"
                       type="text" id="username" name="username" placeholder="Enter Username">
                <p th:if="${#fields.hasErrors('username')}" class="text-danger"  th:errors="*{username}"></p>
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" th:field="*{password}"
                       type="text" id="password" name="password" placeholder="Enter Password">
                <p th:if="${#fields.hasErrors('password')}" class="text-danger"  th:errors="*{password}"></p>
            </div>
            <div class="form-group mb-3">
                <p> Select Engine Type:
                    <select name="Role">
                        <option value=""
                                th:each="role : ${T(com.user_department.model.enums.Role).values()}"
                                th:text="${role.displayText}"
                                th:value="${role.name()}">
                        </option>
                    </select>
                </p>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Save User</button>
            </div>
        </form>
        <div class="mb-3">
            <h5>
                <a th:href="@{/admin/users}">Proceed to Users List</a>
            </h5>
        </div>
    </div>
</body>
</html>
