<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>User Details</h3>
        </div>
        <div class="card-body">
            <form action="" method="get" role="form"
                  th:action="@{admin/details/{userId}(userId=${userDto.id})}"
                  th:object="${userDto}">
                <h5>
                    <p>Id: <span th:text="${userDto.id}"></span></p>
                    <p>First Name: <span th:text="${userDto.firstName}"></span></p>
                    <p>Last Name: <span th:text="${userDto.lastName}"></span></p>
                    <p>Username: <span th:text="${userDto.username}"></span></p>
                    <p>Password: <span th:text="${userDto.password}"></span></p>
                    <p>Role: <span th:text="${userDto.role}"></span></p>
                </h5>
            </form>
            <hr>
            <div class="mb-3">
                <h6>
                    <a th:href="@{/admin/users}">Proceed to Users List</a>
                </h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>
